ALLOWED_ORIGIN= # frontend url
PORT= #port
#postgres://<rds_username>:<rds_password>@<rds_endpoint>:5432/taskdb?sslmode=require

DATABASE_URL=postgres://postgres:password@postgres:5432/taskdb?sslmode=disable

# Postgres container   
POSTGRES_USER= #username
POSTGRES_PASSWORD= #password
POSTGRES_DB= #dbname